#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Инсталяция или апгрейд?
install
# Перезагрузка после инсталяции
reboot --eject
# Согласие с лицензией
eula --agreed
# Используем cdrom для инсталяции
cdrom
# Графический инсталятор
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','ru' --switch='grp:ctrl_shift_toggle'
# System language
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$TiaeVwfUHH4QhKFr$nW21oL3XPDcdvc9kna6NGmf9NieZExvmEZJ3XXjRBKtZhdEZ5bLe2FjtBC8HGdFQKP5OTwL6/eEE0kHc/at1e.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc --ntpservers=ntp.pool.org
user --groups=wheel --name=user --password=$6$LWsPslpANCm5petW$46sVMd6fuRRCTyaIU0YInBpc4Mq6uKCYO3DJG2SEbpAOebGpu5wXkjK2vk.k9ahAhyq2owAdvHtwgWnfBZP810 --iscrypted --gecos="user"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Если диск был занят - он очистится
# --grow говорит, чтобы был занят максимальный размер

zerombr
clearpart --all --initlabel --drives=sda
part pv.01 --fstype="lvmpv" --ondisk=sda --size=1024 --grow
part /boot --fstype="xfs" --ondisk=sda --size=512
volgroup centos --pesize=4096 pv.01
logvol swap --fstype="swap" --size=4096 --name=swap --vgname=centos
logvol / --fstype="xfs" --grow --size=16384 --name=root --vgname=centos

# устанавливаем несколько пакетов сразу
%packages
@^minimal
@core
kexec-tools
chrony
sudo
vim
mc

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
